*{
    box-sizing: border-box;
    margin:0;
}
body{
    font-family : sans-serif;
    background: white;
}
.header{
    padding: 10px;
    text-align: right;
    background: white;
    border-top-style: solid;
    border-top-color: darkorange;
    
}
.header a{
    color:gray;
}
.logo{
    width: 50%;
    height: 130px;
    background-color:rgba(28,42,60,0.75);
    padding: 20px;
    float: left;

}
nav ul{
    float: right;
    width: 50%;
    height: 130px;
    background-color: rgba(28,42,60,0.75);
    list-style-type: none;
    margin: 0;
    padding: 40px 10px;
}
nav ul li {
    display: inline-block;
} /*각각의 목록들이 메뉴에서 옆으로 나란히 배치*/

.home {
    width: 100px;
    text-align: center;
    font-weight: bold;
}

.home a {
    display: block;
    text-decoration: none;
    color: darkorange;
    padding: 16px 16px;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    color: white;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
} 


.dropdown-menu:hover:not(.home){
    color: darkorange;
    border-top-style: solid;
    border-top-color: darkorange;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}

.contents{
    background-color: white;
    text-align: center;
}
.firstcolumn{
    padding: 10px;
}